<div class="header">
  <div class="container">
    <a [routerLink]="['/main']" class="logo">
      <img src="../../../assets/img/icons/logo.svg" alt="logo">
    </a>
    <div *ngIf="isLoggedIn" class="nav-btns d-flex flex-row mb-3">
      <div *ngIf="isDataLoaded" class="p-2 username">{{user.username}}</div>
      <div class="p-2"> <a [routerLink]="['/search']"><img class="nav-icon" src="../../../assets/img/icons/header1.svg" alt="header"></a></div>
      <div class="p-2"> <a  [routerLink]="['/notifications']"><img class="nav-icon" src="../../../assets/img/icons/header2.svg" alt="header"></a></div>
      <div class="p-2"><a [routerLink]="['/profile']"><img class="nav-icon" src="../../../assets/img/icons/header4.svg" alt="header"></a></div>
      <div class="p-2"> <a  (click) = "logout()"><img class="nav-icon" src="../../../assets/img/icons/header5.svg" alt="header"></a></div>
      <span class="spacer"></span>
    </div>
  </div>

</div>