.spacer {
  flex: 1 1 auto;
}

#menu-item button {
  display: block;
  margin: 0 auto;
}

ul {
list-style: none;
}
a {
color: black;
cursor: pointer;
text-decoration: none;

&:hover {
  color: #666;
}

}

.header{
background-color: #F7EEE8;

}

.header .container{
display: flex;
justify-content: space-between;
align-items: center;
height: 120px;
}

.logo{
width: 138px;
}

.logo img{
width: 100%;
}

.nav-icon{
width: 36px;
height: 36px;
}

.username{
font-size:20px;
color: #B6947B;
}

.nav-btns{
align-items: center;
}