<ul *ngFor="let notification of notifications">
  <li>{{notification.from_user.username}} {{notification.type}}
    <span *ngIf="notification.type ==='comment'">
      your post: {{notification.comment_text}}
    </span>
    <span *ngIf="notification.type ==='like'">
      your post
    </span>

    at {{notification.created | date: 'medium'}}
  </li>

  <img *ngIf="notification.type === 'like' || notification.type === 'comment' ; else acceptButton" [src]="notification.post.image" alt="post image">

  <ng-template #acceptButton  >
    <div *ngIf="friendStatus">
      <button *ngIf="notification.type === 'follow' && friendStatus.friend_request_received" (click)="acceptRequest(notification.from_user.id, notification.from_user.username)">Accept</button>
      <button *ngIf="notification.type === 'follow' && friendStatus.is_friend" disabled >Accepted</button>
    </div>
  </ng-template>

</ul>
